ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

li {
  padding: 0.75rem;
  margin-bottom: 0.1rem;
  border-radius: 2px;
  color: #212121;
  background: white;
  cursor: pointer;

  &:hover {
    background: #ededfc;
  }
}
